/* global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3b4252;
    font-family: Source Sans Pro, sans-serif;

}

/* Sidenav settings*/
.sidenav {
    background-color: #2e3440;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 15px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

/* settings for the actual page */
.content {
    color: #eceff4;
    margin-left: 170px;
}

img {
    height: 30vh;
    width: 20vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #d8dee9;
}

a:hover {
    color: #FFFF;
}

h1 {
    color: #d8dee9;
}